<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>お問い合わせを送信しました。</h1>
    <p>お問い合わせ内容</p>
    <ul>
        <li><%= @contact.name %></li>
        <li><%= @contact.email %></li>
        <li><%= @contact.age %></li>
        <li><%= @contact.content %></li>
    </ul>
  </body>
</html>